[submodule "external/certify"]
	path = external/certify
	url = https://github.com/djarek/certify.git
	branch = bb7b58c260ad75f1287ffddee9671ff7019e7524
[submodule "external/CLI11"]
	path = external/CLI11
	url = https://github.com/CLIUtils/CLI11.git
	branch = master
[submodule "external/plog"]
	path = external/plog
	url = https://github.com/SergiusTheBest/plog.git
	branch = master
