# Comments are allowed. Comment line begins with the '#' character
# and spans until the end of the line.

# Logging core settings section. May be omitted if no parameters specified within it.
[Core]
DisableLogging=false
#Filter="%Severity% >= error"

# Console logging settings -- only error and above messages
[Sinks.MmotdConsole]
Destination="Console"
Format="%TimeStamp% [%Severity%] %Message%"
Filter="%Severity% >= error"
AutoNewline="InsertIfMissing"
Asynchronous=false
AutoFlush=true

# File logging settings -- everything output to file
[Sinks.MmotdFile]
Destination="TextFile"
Format="%TimeStamp% [%Severity%] %Message%"
Filter="%Severity% >= debug"
AutoNewline="InsertIfMissing"
Asynchronous=false
AutoFlush=true
Append=true
Target="/Users/jasoni/dev/mmotd/build"
FileName="mmotd_%3N.log"
RotationSize=10485760
